<div class="app-header d-flex justify-content-between align-items-center">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav">
      <li class="nav-item d-flex align-items-center">
        <svg-icon src="/assets/icons/airplane.svg"></svg-icon>
        <a class="nav-link text-white" aria-current="page" href="#">Find Flight</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <svg-icon src="/assets/icons/bed.svg"></svg-icon>
        <a class="nav-link text-white" aria-current="page" href="#">Find Stays</a>
      </li>
    </ul>
  </nav>
  <svg-icon src="/assets/icons/logo.svg"></svg-icon>
  <app-auth-menu></app-auth-menu>
</div>
